<!DOCTYPE html>
<html lang="en">
<head>
    <title>VBL Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables.min.css') }}"/>
</head>
<body>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

<div id="content" class="container-fluid">
    {% block content %}{% endblock %}
</div>
</body>
</html>
