{% extends "base.html" %}

{% block content %}
<table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Reeks</th>
            <th>Categorie</th>
        </tr>
        </thead>
        <tbody>
        {% for poule in poules %}
        <tr>
            <td>
                <a href="{{ url_for('poule', poule_id=poule['guid']) }}">{{ poule['naam'] }}</a>
            </td>
            <td>
                {{ poule['categorie'] }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
