{% extends "base.html" %}

{% block content %}

<div class="row mt-2 justify-content-center">
     <div class="col-sm text-left">
        <p>
            <a href="javascript:history.back()">Terug naar reeks</a>
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm text-center">
        <h3>
            {{ team }}
        </h3>
        <h4>
            Free throw percentage: {{team.ft_percentage()}}% ({{ team.ft_scored }} / {{ team.ft_attempts }})
        </h4>
    </div>
</div>

{% with show_team=false %}
{% include "team_table.html" %}
{% endwith %}
{% endblock %}
